<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.i9930.croptrails">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" /> <!-- Step 1: Add the following permission to the app -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" /> <!-- Step 2: This permission is depreciated in Android P -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".Application.YourApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">
        <activity android:name=".Communication.CommunicationActivity" android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".Communication.ActiveCaseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Communication.CreateCaseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AgriInput.FarmAgriInputsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Register.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Task.TaskDetails.TaskDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Task.SvTaskActivityActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForgotPassword.ForgotPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Maps.WayPoint.AddWayPointActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CropCycle.Show.CropCycleListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CropCycle.Create.CreateCropCycleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Landing.LandingActivity3"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Landing.FilterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ImagePager.Document.DocumentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ClusterSelection.ClusterSelectActivityActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FarmAndFarmer.FarmDetailsUpdate.FarmDetailsUpdateActivity2"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FarmDetails.MoreFarmDetailsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".FarmNavigation.FarmNavigationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_farm_navigation" />
        <activity
            android:name=".SubmitVisitForm.Delinquent.AddDelinquentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Vetting.VettingOthersFarmActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SubmitActivityForm.TimelineFormActivity2"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SoilSense.Dashboard.SoilSensDashboardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SoilSense.DeviceActivity2"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Maps.ShowArea.ShowAreaWithUpdateActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".Maps.VerifyArea.MapsActivityOffline"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".Vetting.RejectedVettingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SoilSense.BluetoothCommunicationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

        </activity>
        <activity
            android:name=".SoilSense.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExpenseSV.ExpenseSvActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Dashboard.DashboardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AreaUnit.SelectAreaUnitActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Test.FarmDetailsVettingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Maps.MapsActivityNew"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".InternetSpeed.InternetSpeedActivity" />
        <activity
            android:name=".Maps.WalkAround.MapsActivityNew"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Maps.selectFarmerFarm.SelectFarmActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Maps.Offline.OfflineMapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".Croppy.CroppyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CompSelect.CompSelectActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".Query.QueryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Contact.ContactActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Maps.VerifyArea.MapsActivitySamunnati"
            android:label="@string/title_activity_check_area_map"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".AssignCalendar.AssignCalendarActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AssignCalendar.SelectCalendarActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QRGenerate.QRGenerateActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Scan.ScanQRActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".WebView.WebViewActivityCert" />
        <activity android:name=".FingerAuth.FingerAuthActivity" />
        <activity
            android:name=".ProduceSell.AddProduceSellActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Test.SatSureImage.SatsureImageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SubmitPld.SubmitPldActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

        </activity>
        <activity
            android:name=".SubmitHealthCard.ShowHealthCardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SubmitHealthCard.AddSoilHealthCardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

        </activity>
        <activity
            android:name=".Test.TestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HarvestSubmit.EasyMode.HarvestSubmitEasyModeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SubmitVisitForm.TimelineAddVisitActivity2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".Utility.LocationUploadReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".Utility.LocationInsertReciever"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".WebView.WebViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShowInputCost.ShowInputCostActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Notification.NotificationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FarmerInnerDashBoard.FrmrInnrDtlsPagerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SubmitPld.PldConfirmationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Profile.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResetPassword.ResetPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Language.LanguageSelectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Setting.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HarvestPlan.HarvestShowPlanActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".HarvestPlan.ShowSinglePlanMap.HarvestShowSinglePlanMapActivity"
            android:label="@string/title_activity_harvest_show_single_plan_map"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HarvestCollection.HarvestPlanActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HarvestReport.HarvestReportActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OfflineMode.OfflineModeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Weather.WeatherActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SubmitInputCost.InputCostActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".Maps.VerifyArea.MapsActivity"
            android:label="@string/title_activity_maps"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Maps.ShowArea.ShowAreaOnMapActivity"
            android:label="@string/title_activity_show_area_on_map"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ImagePager.ImageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Maps.CheckArea.CheckAreaMapActivity"
            android:label="@string/title_activity_check_area_map"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Maps.VerifyArea.MapsActivityEasyMode"
            android:label="@string/title_activity_check_area_map"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Landing.LandingActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_landing"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".FarmAndFarmer.FarmDetailsUpdate.FarmDetailsUpdateActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddFarm.AddFarmActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Splash.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ServiceAndBroadcasts.GoogleService"
            android:enabled="true" />

        <receiver
            android:name=".ServiceAndBroadcasts.SampleBootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.example.alarm.sendGps" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Notification.Services.MyFirebaseMessegingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ct_water_mark" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <receiver
            android:name=".ServiceAndBroadcasts.ConnectivityBroadcast"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!--<service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />-->

        <receiver
            android:name=".GpsLocationReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />



        <activity
            android:name="filePicker.activity.ImagePickActivity"
            android:screenOrientation="portrait"
            android:theme="@style/vw_FilePickerTheme" />

        <activity android:name="filePicker.activity.ImageBrowserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/vw_FilePickerTheme"
            android:hardwareAccelerated="false" />

        <activity android:name="filePicker.activity.VideoPickActivity"
            android:screenOrientation="portrait"
            android:theme="@style/vw_FilePickerTheme" />

        <activity android:name="filePicker.activity.AudioPickActivity"
            android:screenOrientation="portrait"
            android:theme="@style/vw_FilePickerTheme" />

        <activity android:name="filePicker.activity.NormalFilePickActivity"
            android:screenOrientation="portrait"
            android:theme="@style/vw_FilePickerTheme" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/banner_unit_id"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>